<main id="main">
  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p class="header">Pricing For Your<br>
          Customized <span style="color: #00C2CC;">Resume</span></p>
      </header>

      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">One Time</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Premium</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row gy-4" data-aos="fade-left">

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="box">
                <h3 style="color: #07d5c0;">Starter Plan</h3>
                <div class="price"><sup>₹</sup>500<span></span></div>
                <img src="assets/img/pricing-free.png" class="img-fluid" alt="">
                <ul>
                  <li>(0-4 Years of experience)</li>
                  <li>Create Multiple Versions max 10 page Resume/CV</li>
                  <li>Custom Layout</li>
                  <li>Matching Cover Letter</li>
                  <li>12 Fonts</li>
                  <li>74 color themes</li>
                  <li>Creative Backgrounds</li>
                  <li>4 Picture Styles</li>
                </ul>
                <a href="https://rzp.io/l/9J1AQgDklb" target="_blank" class="btn-buy">Buy Now</a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
              <div class="box">
                <span class="featured">Featured</span>
                <h3 style="color: #65c600;">Mid-Level Plan</h3>
                <div class="price"><sup>₹</sup>750<span></span></div>
                <img src="assets/img/pricing-starter.png" class="img-fluid" alt="">
                <ul>
                  <li>(4+ to 9 Years of experience)</li>
                  <li>Create Multiple Versions max 10 page Resume/CV</li>
                  <li>Custom Layout</li>
                  <li>Matching Cover Letter</li>
                  <li>12 Fonts</li>
                  <li>74 color themes</li>
                  <li>Creative Backgrounds</li>
                  <li>4 Picture Styles</li>
                </ul>
                <a href="https://rzp.io/l/D50Z8yK8x7" target="_blank" class="btn-buy">Buy Now</a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <div class="box">
                <h3 style="color: #ff901c;">Senior-Level Plan</h3>
                <div class="price"><sup>₹</sup>1500<span></span></div>
                <img src="assets/img/pricing-business.png" class="img-fluid" alt="">
                <ul>
                  <li>(9+ to 14 Years of experience)</li>
                  <li>Create Multiple Versions max 10 page Resume/CV</li>
                  <li>Custom Layout</li>
                  <li>Matching Cover Letter</li>
                  <li>12 Fonts</li>
                  <li>74 color themes</li>
                  <li>Creative Backgrounds</li>
                  <li>4 Picture Styles</li>
                </ul>
                <a href="https://rzp.io/l/J53WQ6Y" target="_blank" class="btn-buy">Buy Now</a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
              <div class="box">
                <h3 style="color: #ff0071;">Executive-Level Plan</h3>
                <div class="price"><sup>₹</sup>1800<span></span></div>
                <img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">
                <ul>
                  <li>(15+  Years of experience)</li>
                  <li>Create Multiple Versions max 10 page Resume/CV</li>
                  <li>Custom Layout</li>
                  <li>Matching Cover Letter</li>
                  <li>12 Fonts</li>
                  <li>74 color themes</li>
                  <li>Creative Backgrounds</li>
                  <li>4 Picture Styles</li>
                </ul>
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row gy-4" data-aos="fade-left">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
              <div class="box">
                <h3 style="color: #ff0071;">Premium Plan</h3>
                <div class="price"><sup>₹</sup>2500<span></span></div>
                <img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">
                <ul>
                  <li>(15+  Years of experience)</li>
                  <li>Unlimited editing for one year</li>
                  <li>Premium Job update group joining</li>
                  <li>Resume</li>
                  <li>Cover Letter</li>
                </ul>
                <a href="https://rzp.io/l/KD5sLqLa" target="_blank" class="btn-buy">Buy Now</a>
              </div>
            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>

    </div>

  </section><!-- End Pricing Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  Can I change my plan?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Yes, you can upgrade,. If you need help changing your account, reach out to us.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  What are your pricing options for resume services?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  We offer a variety of pricing packages tailored to meet your needs. Whether you're a recent graduate or a seasoned professional, we have a plan for you.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                  Are there any hidden fees or additional charges?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  No hidden fees! Our pricing is transparent, and what you see is what you get. There are no surprises or unexpected charges.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                  What payment methods are accepted on Easemyform?
                </button>
              </h2>
              <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  We accept various payment methods, including credit cards, debit cards, and online payment platforms. We ensure that your payment information is handled securely and in compliance with relevant privacy and security standards.
                </div>
              </div>
            </div>

            <!-- <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  Varius vel pharetra vel turpis nunc eget lorem dolor?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
