<main id="main">
  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <div class="headTextHolder">
          <p class="header" style="color: #fff;">Join Our Exclusive Job Updates Channel on WhatsApp </p>
        </div>
        <br>
        <p>Explore Exciting Job Opportunities and Stay Updated with Our Jobs Update Whatsapp Community!</p>
      </header>
      <!-- Feature Tabs -->
      <div class="row feture-tabs" data-aos="fade-up">
        <div class="col-lg-6">
          <img src="assets/img/job1.svg" class="img-fluid" style="width: 80%;" alt="">
        </div>

        <div class="col-lg-6">
          <h3>Who Can Join This Group?</h3>
          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>College Graduates</h4>
              </div>
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>Customized Cover Letters</h4>
              </div>
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>LinkedIn Optimization</h4>
              </div>
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>Professional Formatting</h4>
              </div>
            </div><!-- End Tab 1 Content -->
          </div>
          <div style="text-align: center;">
            <a href="https://rzp.io/l/5kxenzMp" target="_blank">
              <button class="btn joinButton">Join Now For Rs 99/-</button>
            </a>
          </div>
        </div>
      </div><!-- End Feature Tabs -->

    </div>

  </section><!-- End Features Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <!-- Feature Tabs -->
      <div class="row feture-tabs" data-aos="fade-up">
        <div class="col-lg-6">
          <h3>Who Can Join This Group?</h3>
          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab2">
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>
                  Kickstart your career journey with the support and guidance of experienced professionals.
                </h4>
              </div>
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>
                  Whether you're actively looking for a job or passively exploring new opportunities, this community is for you.
                </h4>
              </div>
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>
                  If you're transitioning into a new field or industry, our community can provide the resources and connections you need.
                </h4>
              </div>
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>
                  Gain exposure to potential employers, mentors, and internship opportunities to shape your future career path.
                </h4>
              </div>
              <div class="d-flex align-items-center mb-6">
                <i class="bi bi-check2"></i>
                <h4>
                  Take your career to the next level by accessing advanced job openings and professional development resources.
                </h4>
              </div>
            </div><!-- End Tab 1 Content -->
            <div style="text-align: center;">
              <a href="https://rzp.io/l/5kxenzMp" target="_blank">
                <button class="btn joinButton">Join Now For Rs 99/-</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="assets/img/job2.svg" class="img-fluid" style="width: 80%;" alt="">
        </div>
      </div><!-- End Feature Tabs -->

    </div>

  </section><!-- End Features Section -->
  <section id="features" class="features section">
    <div class="container">

      <div class="row gy-5">

        <div class="col-xl-6 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
          <img src="assets/img/job3.svg" class="img-fluid" style="width: 80%;" alt="">
        </div>

        <div class="col-xl-6 d-flex">
          <div class="row align-self-center gy-4">

            <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>EXCLUSIVE JOB OPPORTUNITIES</h3>
              </div>
            </div><!-- End Feature Item -->

            <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>PREMIUM
                  RESOURCES</h3>
              </div>
            </div><!-- End Feature Item -->

            <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>
                  REAL-TIME
                  UPDATES</h3>
              </div>
            </div><!-- End Feature Item -->

            <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>NETWORKING
                  OPPORTUNITIES</h3>
              </div>
            </div><!-- End Feature Item -->
          </div>
        </div>
      </div>

    </div>
    <div class="row  gy-5">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <div style="text-align: left;">
          <a href="https://rzp.io/l/5kxenzMp" target="_blank">
            <button class="btn joinButton">Join Now For Rs 99/-</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="ezy__testimonial23">
    <!-- shape one -->
    <svg
      class="ezy__testimonial23-shape-one"
      width="404"
      height="572"
      viewBox="0 0 404 572"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="118" cy="286" r="265.5" stroke="#4175DF" stroke-opacity="0.2" stroke-width="41" />
    </svg>
    <!-- shape two -->
    <svg
      class="ezy__testimonial23-shape-two"
      width="269"
      height="479"
      viewBox="0 0 269 479"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="239.5" cy="239.5" r="239.5" fill="#FC4755" fill-opacity="0.25" />
    </svg>

    <div class="container">
      <div class="row align-items-center justify-content-between mb-4 mb-md-5">
        <div class="col-12 col-md-6 col-lg-4">
          <h2 class="ezy__testimonial23-heading mb-0">Everyone should believe in What Our Client Say .</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-5">
          <p class="ezy__testimonial23-sub-heading mb-0">

          </p>
        </div>
      </div>
      <div id="ezy__testimonial23-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators m-0">
          <button
            type="button"
            data-bs-target="#ezy__testimonial23-carousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#ezy__testimonial23-carousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <!-- <button
            type="button"
            data-bs-target="#ezy__testimonial23-carousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button> -->
        </div>
        <div class="carousel-inner overflow-visible">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="assets/img/rathish.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Rathish</h4>
                        <p class="mb-0 small">TCS</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      Joining this community was the best decision I made during my job search. The timely job updates and expert advice elevated my search, and I landed my ideal role within weeks. Don't miss out on this opportunity!
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="assets/img/muskan.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Muskan</h4>
                        <p class="mb-0 small">Oracle</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      I highly recommend joining this Premium WhatsApp Community. The personalized job alerts helped me find relevant opportunities quickly, and the support from fellow members is unmatched. It's a community that truly cares about your success.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="assets/img/shainee.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Shainee</h4>
                        <p class="mb-0 small">MBA Graduate</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      If you're serious about your job search, this Premium WhatsApp Community is a must. The connections I made here opened doors to interviews I wouldn't have found elsewhere. It's an investment that pays off!"
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="assets/img/devansh.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Devansh</h4>
                        <p class="mb-0 small">Byjus</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      Joining the Premium WhatsApp Community was a game-changer for me. Not only did I receive job updates faster than ever before, but the networking opportunities have been invaluable. Thanks to this community, I landed my dream job!
                    </p>
                  </div>
                </div>
              </div>

              <!-- <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_2.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_3.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>

          <!-- <div class="carousel-item">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_2.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_1.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_3.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

