<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up" style="font-size: 2.5rem;">Switch to hassle free resume building Service</h1>
        <h2 data-aos="fade-up" style="font-size: 1.5rem;" data-aos-delay="400">Crafting Your Professional Resume and Cover Letter Has Never Been So Easier</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="/resume/#how_we_work" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../assets/img/resume-head.png" class="img-fluid" alt="">
      </div>

    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">
      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h2>Elevate Your Professional Profile with Our Resume Upgradation Service</h2>
          <p>Welcome to Elevate Easemyform Pvt Ltd, where we specialize in transforming your resume into a powerful tool that highlights your skills, experience, and achievements. Whether you’re starting from scratch or looking to revamp your existing resume, we have the perfect solution to meet your needs.</p>
          <div class="text-center text-lg-start">
            <!-- <a href="#how_we_work" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Read More</span>
              <i class="bi bi-arrow-right"></i>
            </a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../assets/img/resume-optimization.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<section id="how_we_work" class="values">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>How It Works</p>
    </header>
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <h3>Create a New Resume</h3>
          <ul style="text-align: left;">
            <li>Pay the fee for the service</li>
            <li>Create an account on our website.</li>
            <li>Fill in your details, including personal information, work experience, education, skills, and achievements.
            </li>
            <li>Our intuitive interface makes it easy to input your information, guiding you step-by-step through the process.
            </li>
          </ul>
          <a href="https://app.easemyform.com/signup" target="_blank" class="btn btn-get-started">Create Account</a>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <h3>Upload an Existing One</h3>
          <ul>
            <li>Pay the fee for the service</li>
            <li>Upload your existing resume on our porta</li>
            <li>Our expert team will review your resume and identify areas for improvement</li>
            <li>We’ll ensure your resume is optimized to stand out to potential employers.</li>
          </ul>
          <a href="https://app.easemyform.com/signup" target="_blank" class="btn btn-get-started">Create Account</a>
        </div>
      </div>
    </div>
  </div>
</section>
