<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
    </a>
    <nav id="navbar navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">Resume</a></li>
        <li><a class="nav-link scrollto" href="#features">Jobs</a></li>
        <li><a class="nav-link scrollto" routerLink="/pricing">Pricing</a></li>
        <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="nav-link scrollto" href="https://blog.easemyform.com/" target="_blank">Blog</a></li>
        <li><a class="nav-link scrollto" href="https://app.easemyform.com/">Login</a></li>
      </ul>
      <i class="bi mobile-nav-toggle bi-list" [matMenuTriggerFor]="menu"></i>
      <mat-menu #menu="matMenu">
        <ul class="mobileNav">
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Resume</a></li>
          <li><a class="nav-link scrollto" href="#features">Jobs</a></li>
          <li><a class="nav-link scrollto" routerLink="/pricing">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="https://blog.easemyform.com/" target="_blank">Blog</a></li>
          <li><a class="nav-link scrollto" href="https://app.easemyform.com/">Login</a></li>
        </ul>
      </mat-menu>
    </nav>
  </div>
</header>
