<section id="top" class="values">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <!-- <h2>Our Values</h2> -->
      <p class="active">Terms & Conditions</p>
    </header>

    <div class="row">

      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <!-- <h3 class="active">Effective Date: [28/06/2024]</h3> -->
          <p>Welcome to Elevate Easemyform Pvt Ltd! These terms and conditions outline the rules and regulations for the use of our website, located at [ <a href="www.easemyform.com">www.easemyform.com</a> ].
            By accessing this website, we assume you accept these terms and conditions. Do not continue to use Elevate Easemyform Pvt Ltd if you do not agree to take all of the terms and conditions stated on this page.</p>
          <dl>
            <dt class="active">Introduction</dt>
            <dd>
              Elevate Easemyform Pvt Ltd (referred to as "we", "us", or "our") provides resume-building services through our website. By using our website and services, you agree to comply with and be bound by the following terms and conditions.
            </dd>
            <dt class="active">Services</dt>
            <dd>
              Our website offers various resume-building services to help users create professional resumes. We strive to provide high-quality services, but we do not guarantee any job placement or employment success as a result of using our services.
            </dd>
            <dt class="active">
              User Accounts
            </dt>
            <dd>
              <b>Account Creation</b>: To access our services, you may need to create an account. You must provide accurate and complete information during the registration process.
              <b>Account Security</b>: You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer. You agree to accept responsibility for all activities that occur under your account or password.
            </dd>
            <dt class="active">
              Payments and Refunds
            </dt>
            <dd>
              <b>Payment Terms</b>: Payments for our services must be made through the payment gateway provided on our website. All payments are due at the time of purchase.
              <b>Refund Policy</b>: Due to the nature of our services, we do not offer refunds. However, if you experience any issues, please contact our customer support team for assistance.
            </dd>
            <dt class="active">Intellectual Property Rights</dt>
            <dd>
              <b>Ownership</b>: All content on this website, including text, graphics, logos, and software, is the property of Elevate EaseMyForm Pvt Ltd or its content suppliers and is protected by international copyright laws.
              <b>Usage</b>: You may not reproduce, distribute, or create derivative works from any content on this website without our explicit written permission.
            </dd>
            <dt class="active">
              User Responsibilities
            </dt>
            <dd>
              <b>Accuracy</b>: You are responsible for the accuracy of the information you provide for resume building.
              <b>Prohibited Activities</b>: You agree not to use our website for any unlawful or prohibited activities, including but not limited to spamming, hacking, or infringing on the rights of others.
            </dd>
            <dt class="active">
              Limitation of Liability
            </dt>
            <dd>
              Elevate Easemyform Pvt Ltd will not be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to loss of profits, data, use, goodwill, or other intangible losses, resulting from your use of our services.
            </dd>
            <dt class="active">
              Termination
            </dt>
            <dd>
              We reserve the right to terminate or suspend your access to our website and services at our sole discretion, without prior notice, for conduct that we believe violates these terms and conditions or is harmful to other users or us.
            </dd>
            <dt class="active">
              Governing Law
            </dt>
            <dd>
              These terms and conditions are governed by and construed in accordance with the laws of India. You irrevocably submit to the exclusive jurisdiction of the courts in India.
            </dd>
            <dt class="active">
              Changes to Terms and Conditions
            </dt>
            <dd>
              We reserve the right to update or modify these terms and conditions at any time without prior notice. Your continued use of the website following the posting of any changes constitutes acceptance of those changes.
            </dd>
            <dt class="active">
              Contact Us
            </dt>
            <dd>
              If you have any questions about these terms and conditions, please contact us at: <br>
              <b>Email</b>: supoort@easemyform.com <br>
              <b>Address</b>: H.no. 31 Jai Shakti Homes, Harda - 461331
            </dd>
          </dl>
        </div>
      </div>
    </div>

  </div>

</section><!-- End Values Section -->
