<section id="top" class="values">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <!-- <h2>Our Values</h2> -->
      <p>Terms & Conditions</p>
    </header>

    <div class="row">

      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p>
            Please read the following terms and conditions carefully before using our services:</p>
            <ol>
              <li>
                Service Agreement: By using our services, you agree to abide by the terms and conditions outlined herein.
              </li>
              <li>
                Payment: Payment for services is required upfront. We accept various payment methods for your convenience.
              </li>
              <li>
                Client Information: You are responsible for providing accurate and complete information necessary for the creation of your resume, cover letter, or LinkedIn profile.
              </li>
              <li>
                Revision Policy: We offer a limited number of revisions to ensure your satisfaction. Additional revisions may be subject to an extra fee.
              </li>
              <li>
                Privacy: We prioritize the privacy and confidentiality of your personal and professional information. Your data will not be shared with third parties.
              </li>
              <li>
                Delivery Time: We strive to deliver your documents within the agreed-upon timeframe. Delays may occur due to unforeseen circumstances.
              </li>
              <li>
                Refunds: Refunds are provided at our discretion and may be subject to specific conditions.
              </li>
              <li>
                Communication: We will communicate with you primarily through whatsapp. Ensure your contact information is up to date.
              </li>
              <li>
                Legal Jurisdiction: These terms and conditions are governed by the laws of [India], and any disputes will be resolved in the appropriate courts.
              </li>
            </ol>
          <p>
            By using our services, you acknowledge that you have read and understood these terms and conditions and agree to be bound by them. If you have any questions or require clarification on any aspect of our services or policies, please do not hesitate to contact us.
          </p>
        </div>
      </div>
    </div>

  </div>

</section><!-- End Values Section -->
