<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Just 5% of resumes pass initial screening. Be in the top 5%</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Our Hassle Free resume building service ensures you stands out before HR even sees it.</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
            <div class="rating">
              <i class="fa fa-star" style="color: #ffc107;" aria-hidden="true"></i>
              <span>&nbsp; 4.9 Rated on </span><img style="height:40px;" src="https://lh3.googleusercontent.com/d_S5gxu_S1P6NR1gXeMthZeBzkrQMHdI5uvXrpn3nfJuXpCjlqhLQKH_hbOxTHxFhp5WugVOEcl4WDrv9rmKBDOMExhKU5KmmLFQVg" alt="">
            </div>

          </div>
        </div>
        <div class="col-lg-12 d-flex flex-column justify-content-center" style="margin-top: 10vh;">
          <h4 data-aos="fade-up" data-aos-delay="400">
            <span style="color: #00C2CB;" class="material-symbols-outlined">
              north
            </span>
            30% higher changes of getting a Job</h4>
          <h4 data-aos="fade-up" data-aos-delay="400">
            <span style="color: #00C2CB;" class="material-symbols-outlined">
              north
            </span>
            45% higher response rate from recruiters</h4>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <!-- <h3>Who We Are</h3> -->
            <h2>We save your time and energy</h2>
            <p>
              Are you tired of spending endless hours crafting the perfect resume and cover letter? Look no further! EaseMyForm is here to alleviate your stress and streamline the process. From tailored resumes to optimized LinkedIn profiles, we got you covered.
            </p>
            <div class="text-center text-lg-start">
              <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/resume.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <section id="how_we_work" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <!-- <h2>Our Values</h2> -->
        <p>How we work</p>
      </header>

      <div class="row">

        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/values-1.png" class="img-fluid" alt="">
            <h3>Consultation</h3>
            <p>Get started by scheduling a "CHAT ON WHATSAPP" with our team. We'll discuss your career objectives and gather relevant information to create personalized documents.</p>
          </div>
        </div>

        <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/values-2.png" class="img-fluid" alt="">
            <h3>Document Creation</h3>
            <p>Our expert writers will craft customized resumes and cover letters tailored to your unique skills, experience, and industry requirements.</p>
          </div>
        </div>

        <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/values-3.png" class="img-fluid" alt="">
            <h3>Review and Revision</h3>
            <p>Receive draft documents for review. We welcome your feedback and will make revisions as needed to ensure your complete satisfaction.</p>
          </div>
        </div>
        <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/values-3.png" class="img-fluid" alt="">
            <h3>Final Delivery</h3>
            <p>Once approved, your finalized documents will be delivered promptly, ready for you to use in your job search endeavors.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p> 10000+ Happy Clients</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>10000+ resume Crafted</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-headset" style="color: #15be56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>500+ Hours Of Support</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>7500+ Clients got Job</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <!-- <h2>Features</h2> -->
        <p>Why Enroll with Us?</p>
      </header>
      <!-- Feature Icons -->
      <div class="row feature-icons" data-aos="fade-up">

        <div class="row">

          <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
            <img src="assets/img/features.png" class="img-fluid p-4" alt="">
          </div>

          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-line-chart-line"></i>
                <div class="featuresContent">
                  <h4>Tailored Solutions</h4>
                  <p>We understand that every individual is unique. That's why we tailor our services to meet your specific needs and career goals.</p>
                </div>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="ri-stack-line"></i>
                <div class="featuresContent">
                  <h4>Quality Assurance</h4>
                  <p>Rest assured that your documents are in good hands. We prioritize quality and accuracy to ensure your satisfaction.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="ri-brush-4-line"></i>
                <div class="featuresContent">
                  <h4>Affordable Pricing:</h4>
                  <p>Enjoy our competitive pricing structure designed to accommodate professionals at every stage of their careers.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="ri-magic-line"></i>
                <div class="featuresContent">
                  <h4>Customer Satisfaction Guarantee</h4>
                  <p>We're committed to delivering exceptional service that </p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div><!-- End Feature Icons -->
      <!-- <header class="section-header">
        <h2>Featuressss</h2>
        <p>Why Enroll with Us?</p>
      </header> -->

      <!-- <div class="row">

        <div class="col-lg-6">
          <img src="assets/img/features.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Eos aspernatur rem</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Facilis neque ipsa</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Volup amet voluptas</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Rerum omnis sint</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Alias possimus</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Repellendus mollitia</h3>
              </div>
            </div>

          </div>
        </div>

      </div> / row -->

      <!-- Feature Tabs -->
      <div class="row feture-tabs" data-aos="fade-up">
        <div class="col-lg-6">
          <h3>Features</h3>

          <!-- Tabs -->
          <!-- <ul class="nav nav-pills mb-3">
            <li>
              <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Saepe fuga</a>
            </li>
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab2">Voluptates</a>
            </li>
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab3">Corrupti</a>
            </li>
          </ul> -->
          <!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>ATS Friendly Resumes</h4>
              </div>
              <p>Beat the Applicant Tracking Systems with resumes tailored to pass through seamlessly, ensuring your application gets noticed by employers.</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>Customized Cover Letters</h4>
              </div>
              <p>Craft compelling cover letters tailored to each job application, showcasing your skills and experience effectively.</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>LinkedIn Optimization</h4>
              </div>
              <p>Enhance your professional online presence with optimized LinkedIn profiles that attract recruiters and opportunities.</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>Professional Formatting</h4>
              </div>
              <p>Present your qualifications in a visually appealing and organized format that stands out to potential employers.</p>
            </div><!-- End Tab 1 Content -->
          </div>

        </div>

        <div class="col-lg-6">
          <img src="assets/img/features-2.png" class="img-fluid" alt="">
        </div>

      </div><!-- End Feature Tabs -->

    </div>

  </section><!-- End Features Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  How does Easemyform work?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  To create your resume using Easemyform, simply browse through our collection of non-editable resume templates. Once you've selected a template that suits your needs, you can opt for our paid services. With our paid services, our team of experts will manually create your resume based on the information you provide.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  What are the benefits of using Easemyform?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Easemyform offers several benefits, including:
                  <ul>
                    <li>Professionally designed resume templates.</li>
                    <li>Time-saving and convenient resume-building process.</li>
                    <li>Access to a wide range of resume styles and formats.</li>
                    <li>Clear and concise information presentation for better readability.</li>
                    <li>Expert assistance in crafting your resume if you choose our paid services.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  Are the resume templates editable?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  We offer PDF and Word files. You can easily change and edit them in the future to suit your needs.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                  How long does it take to receive the completed resume?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  The time required to complete your resume depends on the complexity of your requirements and the volume of orders in our queue. However, we strive to deliver your completed resume within 3-5 business days. If there are any delays, we will communicate them to you promptly.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                  What payment methods are accepted on Easemyform?
                </button>
              </h2>
              <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  We accept various payment methods, including credit cards, debit cards, and online payment platforms. We ensure that your payment information is handled securely and in compliance with relevant privacy and security standards.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3-content-3">
                  What information do I need to provide for the paid resume services?
                </button>
              </h2>
              <div id="faq3-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist3">
                <div class="accordion-body">
                  When opting for our paid services, you will be asked to provide your personal information, such as contact details, work experience, education, skills, and any additional relevant information you want to include in your resume. This information will be used to create a tailored resume for you.
                </div>
              </div>
            </div>

            <!-- <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  Varius vel pharetra vel turpis nunc eget lorem dolor?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                </div>
              </div>
            </div> -->

          </div>
        </div>

      </div>

    </div>

  </section><!-- End F.A.Q Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our Clients</h2>
      </header>

      <div class="row gy-4" data-aos="fade-left">
        <div class="row gy-4 content" data-aos="zoom-in" data-aos-delay="400">
          <div class="col-lg-2 col-md-6"><img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Tata_Consultancy_Services_Logo.svg/1024px-Tata_Consultancy_Services_Logo.svg.png" class="img-fluid" alt=""></div>
          <div class="col-lg-2 col-md-6"><img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/3/34/EY_logo_2019.svg" class="img-fluid" alt=""></div>
          <div class="col-lg-2 col-md-6"><img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Wipro_Primary_Logo_Color_RGB.svg " class="img-fluid" alt=""></div>
          <div class="col-lg-2 col-md-6"><img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Reliance_Jio_Logo_%28October_2015%29.svg/2048px-Reliance_Jio_Logo_%28October_2015%29.svg.png" class="img-fluid" alt=""></div>
          <div class="col-lg-2 col-md-6"><img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/J_P_Morgan_Logo_2008_1.svg/2560px-J_P_Morgan_Logo_2008_1.svg.png" class="img-fluid" alt=""></div>
          <div class="col-lg-2 col-md-6"><img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" class="img-fluid" alt=""></div>
        </div>
      <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>

  </section><!-- End Clients Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>Bengaluru,<br>India</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+91 7697470397<br>+91 9238332458</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>support@easemyform.in</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>We are available <br>24X7</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>

        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->
  <section class="ezy__testimonial23">
    <!-- shape one -->
    <svg
      class="ezy__testimonial23-shape-one"
      width="404"
      height="572"
      viewBox="0 0 404 572"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="118" cy="286" r="265.5" stroke="#4175DF" stroke-opacity="0.2" stroke-width="41" />
    </svg>
    <!-- shape two -->
    <svg
      class="ezy__testimonial23-shape-two"
      width="269"
      height="479"
      viewBox="0 0 269 479"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="239.5" cy="239.5" r="239.5" fill="#FC4755" fill-opacity="0.25" />
    </svg>

    <div class="container">
      <div class="row align-items-center justify-content-between mb-4 mb-md-5">
        <div class="col-12 col-md-6 col-lg-4">
          <h2 class="ezy__testimonial23-heading mb-0">Everyone should believe in What Our Client Say .</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-5">
          <p class="ezy__testimonial23-sub-heading mb-0">

          </p>
        </div>
      </div>
      <div id="ezy__testimonial23-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators m-0">
          <button
            type="button"
            data-bs-target="#ezy__testimonial23-carousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#ezy__testimonial23-carousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <!-- <button
            type="button"
            data-bs-target="#ezy__testimonial23-carousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button> -->
        </div>
        <div class="carousel-inner overflow-visible">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="assets/img/rathish.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Rathish</h4>
                        <p class="mb-0 small">TCS</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      Joining this community was the best decision I made during my job search. The timely job updates and expert advice elevated my search, and I landed my ideal role within weeks. Don't miss out on this opportunity!
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="assets/img/muskan.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Muskan</h4>
                        <p class="mb-0 small">Oracle</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      I highly recommend joining this Premium WhatsApp Community. The personalized job alerts helped me find relevant opportunities quickly, and the support from fellow members is unmatched. It's a community that truly cares about your success.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="assets/img/shainee.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Shainee</h4>
                        <p class="mb-0 small">MBA Graduate</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      If you're serious about your job search, this Premium WhatsApp Community is a must. The connections I made here opened doors to interviews I wouldn't have found elsewhere. It's an investment that pays off!"
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="assets/img/devansh.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Devansh</h4>
                        <p class="mb-0 small">Byjus</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      Joining the Premium WhatsApp Community was a game-changer for me. Not only did I receive job updates faster than ever before, but the networking opportunities have been invaluable. Thanks to this community, I landed my dream job!
                    </p>
                  </div>
                </div>
              </div>

              <!-- <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_2.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_3.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>

          <!-- <div class="carousel-item">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_2.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_1.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="card ezy__testimonial23-item border-0 p-4 mt-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                      <div class="me-3">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_3.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="65"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0 fs-5">Akshay Kumar</h4>
                        <p class="mb-0 small">Founder / CEO</p>
                      </div>
                    </div>
                    <p class="opacity-75">
                      An activity that requires a person's mental or physical effort is work.If a person is trained
                      for a certain type of job, they may have a job.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
