<main id="main">
  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <!-- <h2>Features</h2> -->
        <p class="active">Privacy Policy</p>
      </header>
      <!-- Feature Tabs -->
      <div class="row" data-aos="fade-up">
        <div class="col-lg-12">
          <p class="active">
            Elevate Easemyform Pvt Ltd Privacy & Policy
          </p>
          <p>
            Welcome to the Elevate Easemyform Pvt Ltd Privacy & Policy page.
          </p>
          <p>
            We understand that legal documents can be a bit cumbersome to read, but we provide this Privacy & Policy to safeguard both you and us and to emphasize our commitment to handling your information responsibly.
          </p>
          <p>
            Let's start by giving you an overview of what Elevate Easemyform Pvt Ltd is and how we engage with our users. At its core, Elevate Easemyform Pvt Ltd is a resume builder website.
          </p>
          <p>
            Outlined below are some essential guidelines that apply to your use of the Elevate Easemyform Pvt Ltd Site:
          </p>
          <p class="active">
            Information Collection:
          </p>
          <p>
            We collect the following types of personal information from our website/app users:
            <ul>
              <li>
                Contact Information: This includes your name, email address, phone number, and any other information you provide when contacting us or using our services.
              </li>
              <li>
                Resume and Cover Letter Information: We collect the details you provide when creating a personalized resume or cover letter using our services.
              </li>
              <li>
                Job Details: We collect information about the specific job positions and preferences you provide us when using our services.
              </li>
            </ul>
          <p class="active">
            All users
          </p>
          <p>
            Whether you are a student, job seeker, employer, or just visiting, we expect you to adhere to a high standard of professional and acceptable behavior. Additionally, you must comply with all applicable laws, including local, state, employment, and discrimination laws.
          </p>
          <p>
            Elevate Easemyform Pvt Ltd reserves the right to discontinue any resume template at any time for any reason. Some templates might be replaced with new ones.
          </p>
          <p>
            Each order is intended to generate one resume for one individual. Certain features may be limited to maintain this restriction.
          </p>
          <p>
            Elevate Easemyform Pvt Ltd reserves the right to terminate any accounts that violate our policies or terms of use, misuse our service in any manner, or are not aligned with the mission of our platform, solely at our discretion.
          </p>
          <p class="active">
            Terms of Use
          </p>
          <p>
            These are the Terms of Use ("Terms") governing your use of Elevate Easemyform Pvt Ltd (<a href="#">www.easemyform.com</a>), an online service that assists job seekers in building and creating their resumes or CVs. Please read these Terms carefully. If you do not agree to them, kindly refrain from using Easemyform and its services. By accessing and using Easemyform's website, you signify your agreement to be bound by these Terms. Easemyform may update these Terms from time to time by posting a revised version on this Web page. It is advisable to periodically review this page to stay informed about the most current Terms. These Terms establish certain rights and obligations for both you and us.

          </p>
        </div>
      </div><!-- End Feature Tabs -->

    </div>

  </section><!-- End Features Section -->

</main><!-- End #main -->
